@page "/mass-update"
@using KERP.BlazorUI.Components.Pages.Features.MassUpdate.PurchaseOrder

<h3>Masowa aktualizacja dat odbioru</h3>

<UpdateReceiptDate OnRequestSubmitted="RefreshData" />

<hr class="my-4" />

<ReadReceiptDate @ref="_requestListComponent" />

@code {
    private ReadReceiptDate? _requestListComponent;

    private async Task RefreshData()
    {
        if (_requestListComponent is not null)
        {
            await _requestListComponent.LoadRequests();
        }
    }
}